.email-row {
  overflow: hidden;
}

.email-is-read {
  background-color: rgba(0, 0, 0, .2);
}

.email-toggle-is-read,
.email-date,
.email-from,
.email-subject,
.email-body {
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.email-toggle-is-read {
  width: 10%;
}

.email-date {
  width: 15%;
}

.email-from {
  width: 15%;
}

.email-subject {
  width: 25%;
}

.email-body {
  width: 35%;
}